/* PALETA
Dorado: #FABA4C
Verde Profundo: #1A5427
Negro Vidrio: #000001
*/

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* HEADER SEMITRANSPARENTE */
header {
    position: fixed;
    width: 100%;
    z-index: 1000;
    background: rgba(26, 84, 39, 0.55);
    backdrop-filter: blur(12px);
}

/* NAVBAR */
.navbar .nav-link {
    color: white;
    font-weight: 500;
    margin-left: 20px;
    transition: .3s;
}

.navbar .nav-link:hover {
    color: #FABA4C;
}

/* Ícono hamburguesa visible */
.navbar-toggler {
    border: none;
    filter: invert(100%);
}

/* CARRUSEL */
.carousel-item img {
    height: 65vh;
    object-fit: cover;
}

/* FLECHAS */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(90%) brightness(90%);
    opacity: 0.7;
    transition: .3s;
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
    opacity: 1;
}
/* BOTÓN WHATSAPP */
.whatsapp {
    position: fixed;
    bottom: 22px;
    right: 22px;
    width: 60px;
    height: 60px;
    z-index: 1500;
}

.whatsapp img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: drop-shadow(0 0 4px rgba(0,0,0,.5));
    transition: .3s;
}

.whatsapp:hover img {
    transform: scale(1.1);
}
